@model VehicleDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Vehicle Image">
        </div>
        <div class="col-4">
            <p style="font-size:25px;"><u>@Model.Make</u></p>
            <p style="font-size:25px;"><u>@Model.Model</u></p>
            <p>Manufactured in: <b>@Model.Year</b></p>
            <p>
                Price per day :
                <b>@String.Format("{0:f2}", Model.PricePerDay) EUR</b>
            </p>
            <p>Category: <b>@Model.CategoryName</b></p>
            <div class="form-inline">
                <a class="btn btn-primary" asp-controller="Comment" asp-action="All"
                   asp-route-vehicleId="@Model.Id">View comments</a>
                @if (!Model.IsRented)
                {
                    <form class="ml-2" asp-controller="Rent"
                      asp-action="Index" asp-route-id="@Model.Id" method="get">
                        <input class="btn btn-warning" type="submit" value="Rent" style="height: 40px; width: 140px;" />
                    </form>
                }
                else
                {
                    <div style="background-color: red;height: 40px; width: 140px; border-radius: 4px;">
                        <p style="text-align: center;">
                            <b>Rented</b>
                        </p>
                    </div>

                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Vehicle Info</h5>
                    <p class="card-text">Suspension:  @Model.Suspension</p>
                    <p class="card-text">Navigation:  @(Model.NavigationSystem ? "Yes" : "No")</p>
                    <p class="card-text">Gear box:  @Model.Transmission</p>
                    <p class="card-text">Air condition:  @(Model.AirCondition ? "Yes" : "No")</p>
                    <p class="card-text">Seats: @Model.Seats</p>
                    <p class="card-text">Doors: @Model.Doors</p>
                    <p class="card-text">Fuel type: @Model.FuelType</p>
                    <p class="card-text">Consumption: @(Model.Consumption == null ? "N/A" : String.Format("{0:f2}", Model.Consumption))</p>
                    <p class="card-text">Tank capacity: @(Model.TankCapacity == null ? "N/A" : Model.TankCapacity)</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            @foreach (var item in Model.Discounts)
            {
                <div class="col-sm-1">
                    <div style="background-color: red; height: 40px; width: 17rem;">
                        <p style="text-align: center;">
                            <b>@item.Name - @item.DiscountSize%</b>
                        </p>
                    </div>
                    <img class="card-img-top" style="width: 17rem;"
                     src="https://grandnode.com/content/images/thumbs/5b17a6869e8c8b2cc8075e4d_discount-buy-2-get-1_850.png" alt="Discount Image">
                </div>
            }
        </div>
    </div>
</div>