@model IEnumerable<UserRoleModel>

@{
    ViewData["Title"] = "Remove Role";
}

<h2 class="text-center text-danger">Remove from role</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <input asp-for="@item.Id" />
                <div class="form-group text-white">
                    <label asp-for="@item.FullName"></label>
                    <span class="small text-white">- @item.FullName</span>

                </div>
                <div class="form-group text-white">
                    <label asp-for="@item.Email"></label>
                    <span class="small text-white">- @item.Email</span>

                </div>
                <div class="form-group text-white">
                    <label asp-for="@item.RoleId"></label>
                    <select asp-for="@item.RoleId" class="form-control">
                        @foreach (var role in item.Roles)
                        {
                            <option value="@role.Id">@role.RoleName</option>
                        }
                    </select>
                </div>
                <div class="text-center">
                    <input class="btn btn-info mt-3" type="submit" value="Remove Role" />
                </div>
            </form>
        </div>
    </div>
}