@model VehicleRentModel

<script src="~/knockout/knockout-latest.js"></script>

@{
    ViewData["Title"] = "Rent Vehicle";
    Model.RentDays = 1;

}

<article style="background-image: url(@Model.ImageUrl); background-size: cover; width: 80rem; height: 70rem">
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <input asp-for="@Model.Id" />
                <input asp-for="@Model.ImageUrl" />
                <input asp-for="@Model.PricePerDay"/>
                <div class="mb-3 text-center">
                    <label asp-for="@Model.DrivingLicense" class="form-label text-danger"><h5>Driving License</h5></label>
                    <input asp-for="@Model.DrivingLicense" class="form-control" aria-required="true" />
                    <span asp-validation-for="DrivingLicense" class="text-danger"></span>
                </div>
                <div class="mb-3 text-center">
                    <label asp-for="@Model.RentDays" class="form-label text-danger"><h5>Rent Days</h5></label>
                    <input asp-for="@Model.RentDays" pattern="[0-9]" class="form-control" aria-required="true" data-bind="value: rentDays, valueUpdate: 'input'" />
                    <span asp-validation-for="RentDays" class="text-danger"></span>
                    
                </div>
                <div class ="mb-3 text-center">
                    <label class="form-label text-danger"><h5>Price: </h5></label>
                    <input data-bind="value: formatedPrice()" disabled/>
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Rent" />
                </div>
            </form>
        </div>
    </div>
</div>
</article>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-validation/dist/jquery-override.validator.js"></script>
    <script>
        function RentData() {
            var that = this;

            that.pricePerDay = ko.observable(@Model.PricePerDay);
            that.rentDays = ko.observable(@Model.RentDays);

            that.formatedPrice = ko.computed(() => `${(that.pricePerDay() * that.rentDays()).toFixed(2)} Euro` );
        }

        ko.applyBindings(new RentData());
    </script>
}
